* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: "inter-400";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "inter-600";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "inter-700";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 700;
  font-style: normal;
}
:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}
html {
  font-size: 16px;
}
main {
  width: 100%;
  height: 100vh;
  background-color: var(--Grey-900);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .card {
  width: 400px;
  background-color: var(--Grey-800);
  border-radius: 12px;
  padding: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  font-family: "inter-400", sans-serif;
  color: var(--White);
}
main .card .profile_image {
  width: 100px;
  height: 100px;
}
main .card .profile_image img {
  width: 100%;
  border-radius: 50%;
}
main .card h1 {
  font-size: 1.8rem;
}
main .card b {
    font-size: 1rem;
    color: var(--Green);
}
main .card ul{
    width: 100%;
    margin-bottom: -15px;
}
main .card ul a   {
    font-family: "inter-600", sans-serif;
    display: block;
    background-color: var(--Grey-700);
    width: 100%;
    padding: 15px 0;
    margin: 15px 0;
    color: var(--White);
    transition: all ease .5s;
    border-radius: 8px;

}
main .card ul a:hover {
    background-color: var(--Green);
    color: var(--Grey-900);
}
