* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}
@font-face {
  font-family: "inter-400";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "inter-600";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "inter-700";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 700;
  font-style: normal;
}
:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}
html {
  font-size: 16px;
}
main {
  width: 100%;
  height: 100vh;
  background-color: var(--Grey-900);
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .card {
  width: 400px;
  height: 600px;
  background-color: var(--Grey-800);
  border-radius: 12px;
}
main .card h1 {
  font-family: "inter-700", sans-serif;
  font-size: 2rem;
}
